{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}

 {% block body %}
 <link rel="stylesheet" href="../static/main.css">
<script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
<section class="my-4">
        <div class="image">
            <!-- <img src="Manas.jpg" alt="Manas PhotoGraph"> -->
        </div>
        <div class="content">
            <h2>About Us</h2>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate distinctio nesciunt natus sunt voluptate doloribus molestias dolore? Reiciendis, quasi ipsam? Obcaecati perspiciatis earum dolores perferendis, exercitationem sunt nisi blanditiis fugiat.</p> -->
            <p>
                I am an electronics and communication student who is an enthusiast learner and interested in the field of Data Science, Machine Learning, Deep Learning and always trying to blend various other emerging technologies like the internet of things(IoT), Augmented Reality,embedded systems, Database management(SQLite) and entertainment. Other than the above-mentioned technologies I have a grasp on Data structures, C Programming, C++ Programming, Python Programming, Unity, C#, and SQL. I have worked on Arduino Boards, ESP8266 Board, Raspberry Pi 3B+and Android Studio. 
            </p>
            <ul class="icons">
                <li>
                    <a href="https://twitter.com/ManasChandanBe1"><i class = "fa fa-twitter"></i></a>
                </li>
                <li>
                    <i class = "fa fa-facebook"></i>
                </li>
                <li>
                    <a href="https://github.com/ManasChandan"><i class = "fa fa-github"></i></a>
                </li>
            </ul>
        </div>
    </section>
 {% endblock body %} 